@media (max-width: 1299px) {
    .sidesocial {
        display: none;
    }
    .arrow-top {
        &__link {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__grid-wrapper {
            grid-template-columns: 400px 530px;
            gap: 30px;
        }
        &__work-directions {
            column-gap: 15px;
            margin-top: 11px;
            row-gap: 10px;
        }
        &__wd-item {
            column-gap: 10px;
            grid-template-columns: 40px 1fr;
        }
        &__workimg {
        width: 40px;
        height: 40px;
        }
        &__main-descr {
            margin-top: 10px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, minmax(360px, auto));
            column-gap: 100px;
            padding: 70px 45px 0 45px;
        }
    }
    .skills {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
        }
        &__grade {
            grid-template-columns: repeat(3, 290px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            row-gap: 50px;
            .vertical, .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
        &__item {
            &:hover {
                transition: unset;
                scale: unset;
            }
        }
    }
    .prices {
        &__wrapper {
            padding: 0;
        }
    }
    .contacts {
        &__wrapper {
            column-gap: 30px;
            grid-template-columns: 400px 1fr;
            padding: 0;
        }
        &__form {
            grid-template: 45px 143px 45px/repeat(2, 1fr);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .main {
        &__title {
            width: 450px;
        }
    }
    .title {
        &_fz48 {
            font-size: 38px;
            line-height: 48px;
        }
    }
    .btn {
        &_bgcnone-hover {
            &:hover {
                box-shadow: unset;
                background-color: unset;
            }
        }
    }
    .about {
        padding: 90px 0 0 0;
        &__grid-wrapper {
            grid-template-columns: 350px 350px;
            gap: 20px;
        }
        &__work-directions {
            grid-template-columns: minmax(140px, auto);
            grid-auto-rows: minmax(115px, auto);
        }
        &__descr {
            max-width: 350px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            column-gap: 40px;
            padding: 70px 0px 0 0px;
        }
    }
    .skills {
        &__grade {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 55px;
        }
    }
    .portfolio {
        padding: 100px 0 0 0;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
            grid-auto-rows: 280px;
            row-gap: 10px;
            column-gap: 10px;
            justify-content: center;
        }
    }
    .prices {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
        &__item {
            grid-template-columns: repeat(2, auto);
        }
    }
    .contacts {
        &__wrapper {
            column-gap: 15px;
            grid-template-columns: 350px 1fr;
        }
        &__photo {
            width: 100%;
            align-self: self-end;
        }
        &__title {
            font-size: 24px;
        }
        &__form {
            grid-template: 45px 90px 45px/repeat(2, 165px);
            row-gap: 15px;
            margin-top: 20px;
        }
        &__policy {
            span {
                font-size: 10px;
            }
            input {
                margin: 0;
            }
        }
        &__triggers {
            column-gap: 5px;
        }
        
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .main {
        &__title {
            width: 355px;
        }
    }
    .title {
        &_fz48 {
            font-size: 32px;
            line-height: 42px;
        }
    }
    .about {
        padding: 40px 0 0 0;
        &__grid-wrapper {
            grid-template-columns: 1fr;
            grid-auto-rows: 450px auto;
        }
        &__work-directions {
            row-gap: 15px;
            margin-top: 20px;
            grid-template-columns: repeat(2, minmax(140px, auto));
        }
        &__main-descr {
            margin-top: 20px;
        }
        &__wd-item {
            &:hover {
                transform: unset;
            }
        }
    }
    .resume {
        padding: 100px 0 0 0;
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: auto;
            row-gap: 40px;
            padding: 40px 35px 0 35px;
        }
    }
    .skills {
        margin-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
        &__grade {
            padding-top: 100px;
        }
    }
    .portfolio {
        padding: 80px 0 0 0;
    }
    .prices {
        &__wrapper {
            justify-content: center;
            margin-top: 0px;
        }
        &__column {
            ul {
                margin: 0;
            }
        }
    }
    .contacts {
        padding: 100px 0 40px 0;
        &__title {
            font-size: 36px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__photo {
            display: none;
        }
        &__form {
            grid-template: 45px 145px 45px/repeat(2, auto);
        }
        &__policy {
            span {
                font-size: 12px;
            }
            input {
                margin-right: 5px;
            }
        }
    }  
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .main {
        background: url('../image/main_photo-mobile.webp') center center/cover no-repeat;
        &__ul {
            justify-content: flex-start;
        }
        &__title {
            width: 285px;
        }
    }
    .menu {
        &__block{
            width: 270px;
            padding-left: 15px;
        }
    }
    .title {
        font-size: 24px;
        &_fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .about {
        &__work-directions {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        padding: 80px 0 0 0;
        &__wrapper {
            padding: 40px 0 0 0;
        }
        &__item-head {
            grid-template-columns: 43px 1fr;
            column-gap: 8px;
            span {
                top: 12px;
                transform: unset;
            }
        }
        &__item {
            padding: 45px 0 0 35px;
            &:before {
                width: 27px;
            }
        }
    }
    .skills {
        margin-top: 80px;
        &__wrapper {
            grid-template-columns: 1fr;
            margin-top: 30px;
        }
        &__grade {
            grid-template-columns: 1fr;
        }
        &__title {
            text-align: center;
            line-height: 38px;
            margin-top: 10px;
        }
        .divider {
            &_margin {
                margin-top: 20px;
            }
        }
        &__item {
            text-align: center;
            &-img {
                justify-content: center;
                width: 100%;
            }
            &-descr {
                text-align: start;
            }
            
        }
    }
    .prices {
        padding: 80px 0 0 0;
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
        &__column {
            ul {
                padding-left: 0;
            }
        }
        &__item-subtitle {
            &:before {
                display: none;
            }
        }
    }
    .contacts {
        padding: 80px 0 20px 0;
        &__form { 
            grid-template: 45px 145px 45px 45px/repeat(2, auto);
        }
        &__triggers {
            grid-template: 1fr 1fr/1fr;
            row-gap: 15px;
        }
        &__policy {
            justify-self: center;
            span {
                font-size: 11px;
            }
        }
    }
}

@media (max-width: 319px) {
    .main {
        &__nav {
            max-width: 148px;
        }
        &__ul {
            flex-direction: column;
            li:last-child {
                margin-top: 40px;
                a {
                    color: #fafafa;
                }
            }
        }
        &__title {
            width: 100%;
        }
    }
    .title {
        &_fz48 {
            font-size: 20px;
        }
    }
}