.portfolio {
    padding: 150px 0 0 0;
    .swiper {
        margin-top: 5px;
        max-width: 992px;
        &-button-next, &-button-prev {
            color: #000;    
            &:after {
                font-size: 28px;
            }
        }
        &-pagination-bullet {
            background-color: var(--main-color);
            width: 12px;
            height: 12px;
        }
        &-slide {
            &-img {
                margin: 0 auto;
                max-width: 700px;
                height: 420px;
                padding: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s all ease;
                    box-shadow: 0px 5px 10px rgba(0,0,0, 0.6);
                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0px 7px 15px rgba(0,0,0, 0.7);
                    }
                }
            }
        }
    }
}