.prices {
    padding: 60px 0 0 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 420px 420px;
        justify-content: space-between;
        padding: 0 50px 0 50px;
        margin-top: 40px;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 200px));
        margin-top: 20px;
        border: solid 1px #202020;
        padding: 5px;
        background-color: #fafafa;
        box-shadow: 2px 1px rgba(0,0,0, 0.4);
        transition: 0.2s all ease;
        &:hover {
            background-color: #e0e0e0;
            cursor: default;
        }
        &-subtitle {
            display: block;
            margin: 0;
            position: relative;
            &:before {
                content: '';
                width: 15px;
                height: 15px;
                background-color: var(--main-color);
                border-radius: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -38px;
            }
        }
        &-price {
            display: block;
            margin: 0;
            justify-self: end;
            text-align: end;
        }
        &-descr {
            display: block;
            margin: 0;
            grid-column: 1/3;
            margin-top: 5px;
        }
    }
}