.sidesocial {
  position: fixed;
  top: 200px;
  left: 50px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  &__divider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__text {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    height: 160px;
    width: 25px;
    position: relative;
    span {
      transform: rotate(-90deg);
      display: block;
      width: 160px;
      position: absolute;
      top: 0;
      left: -68px;
      top: 68px;
    }
  }
  &__link img {
    transition: 0.2s all;
    &:hover { 
      transform: scale(1.5);
    }
  }
}