.subtitle {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  &_fz20 {
    font-size: 20px;
  }
  &_fz16 {
    font-size: 16px;
  }
  &_fz12 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  &__section {
    position: relative;
    margin: 0;
    @include before-circle;
    &:before {
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}