@import 'libs/bootstrap-reboot';
@import 'libs/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/descr';
@import 'blocks/btn';
@import 'blocks/main-page';
@import 'blocks/sidesocial';


* {
  font-family: "Montserrat";
}

.container {
  width: 1140px;
  margin: 0 auto;
}
