@import 'libs/bootstrap-reboot';
@import 'libs/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
		font-family: 'Montserrat';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}